name: Flutter CI

on:
  push:
    branches: [ "master", "feature/*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  analyze:
    name: Analyze & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.0'
          channel: 'stable'
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Build ObjectBox
        run: |
          flutter pub run build_runner clean
          flutter pub run build_runner build --delete-conflicting-outputs

      - name: Analyze code
        run: flutter analyze --no-fatal-infos

      - name: Build APK (Debug)
        run: flutter build apk --debug